.l {
  background: url(../img/user.png) no-repeat 6px center;
  width: 30px;
  height: 30px;
  display: block;
}
.register_form{

 
  background-image: url("img.png");

  min-height: 380px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;	
}
.white {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
  opacity:0.6;
}

* {
  box-sizing: border-box;
}
