$bheight:100%;
$bfontf: Arial, Helvetica, sans-serif;

$borsize:border-box;

$imga:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../image/img.png");
$iheight:450px;


$backpos:center;
$backrep:no-repeat;
$backsize:cover;
$backpos:relative;




$cpos:absolute;
$cright: 0;
$cmar:20px;
$cwid:300px;
$cpad: 16px; 
$cbgcolor:white;
  $copa:0.6;





.white{
	color:green;
}

body, html {
  height:$bheight;
  font-family:$bfontf;
  padding:0;
  margin:0;

}

* {
  box-sizing: $borsize;
}

.bg-img {
  /* The image used */
  background-image: $imga;

  min-height: $iheight;
  padding:0;

  /* Center and scale the image nicely */
  background-position: $backpos;
  background-repeat: $backrep;
  background-size: $backsize;
  position: $backpos;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  top:0;
  margin: 4% 20%;
  max-width: 300px;
  padding: 16px;
  color:green;
  background-color: rgba(0,0,0,.5);
  
}
.icon1{
  margin-left:80%;
}

.sevencol{
	color:white;
	margin-left:100px;
  list-style:none;
	 margin-top: 20px;
   margin-left:20%;
	 
	
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}


.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
  height: 300px; /* Should be removed. Only for demonstration */
}


.column2 {
  float: left;
  width: 50%;
  padding: 10px;
   text-align: center;
  height: 300px; /* Should be removed. Only for demonstration */
}
.column3 {
  float: left;
  width: 50%;
  padding: 10px;
 
  height: 300px; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.q{
    text-align: center;
}

.column {
  float: left;
  width: 33.33%;
   text-align: center;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */

}

.topspace{
  margin-top:50px;
  padding:50px;
}



.l{
	width:40px;
	height:40px;

}


.line{
		display:inline-block;
		padding:52px;

}

.line1{
    margin-left:10%;
}
.icon2{
    display:inline-block;
}

.container1 {

  padding: 16px;
  margin: 16px 0
}

.container1::after {
  content: "";
  clear: both;
  display: table;
}

.container1 img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container1 span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container1 {
      text-align: center;
  }
  .container1 img {
      margin: auto;
      float: none;
      display: block;
  }
}


.green{
	color:green;
	 font-weight: bold;
}

.foot{
	margin-top:10px;
}

.copyright{
color:gray;
margin-left:35%;	
}