/* line 1, ../sass/scss.scss */
.l {
  background: url(../img/user.png) no-repeat 6px center;
  width: 30px;
  height: 30px;
  display: block;
}

/* line 7, ../sass/scss.scss */
.register_form {
  background-image: url("img.png");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* line 19, ../sass/scss.scss */
.white {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
  opacity: 0.6;
}

/* line 29, ../sass/scss.scss */
* {
  box-sizing: border-box;
}
