/* line 30, ../sass/style.scss */
.white {
  color: green;
}

/* line 34, ../sass/style.scss */
body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

/* line 42, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 46, ../sass/style.scss */
.bg-img {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../image/img.png");
  min-height: 450px;
  padding: 0;
  /* Center and scale the image nicely */
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
/* line 61, ../sass/style.scss */
.container {
  position: absolute;
  right: 0;
  top: 0;
  margin: 4% 20%;
  max-width: 300px;
  padding: 16px;
  color: green;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 72, ../sass/style.scss */
.icon1 {
  margin-left: 80%;
}

/* line 76, ../sass/style.scss */
.sevencol {
  color: white;
  margin-left: 100px;
  list-style: none;
  margin-top: 20px;
  margin-left: 20%;
}

/* Full-width input fields */
/* line 86, ../sass/style.scss */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* line 94, ../sass/style.scss */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
/* line 100, ../sass/style.scss */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

/* line 110, ../sass/style.scss */
.btn:hover {
  opacity: 1;
}

/* line 115, ../sass/style.scss */
.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* line 124, ../sass/style.scss */
.column2 {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* line 131, ../sass/style.scss */
.column3 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
/* line 139, ../sass/style.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 145, ../sass/style.scss */
.q {
  text-align: center;
}

/* line 149, ../sass/style.scss */
.column {
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* line 158, ../sass/style.scss */
.topspace {
  margin-top: 50px;
  padding: 50px;
}

/* line 165, ../sass/style.scss */
.l {
  width: 40px;
  height: 40px;
}

/* line 172, ../sass/style.scss */
.line {
  display: inline-block;
  padding: 52px;
}

/* line 178, ../sass/style.scss */
.line1 {
  margin-left: 10%;
}

/* line 181, ../sass/style.scss */
.icon2 {
  display: inline-block;
}

/* line 185, ../sass/style.scss */
.container1 {
  padding: 16px;
  margin: 16px 0;
}

/* line 191, ../sass/style.scss */
.container1::after {
  content: "";
  clear: both;
  display: table;
}

/* line 197, ../sass/style.scss */
.container1 img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* line 203, ../sass/style.scss */
.container1 span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  /* line 209, ../sass/style.scss */
  .container1 {
    text-align: center;
  }

  /* line 212, ../sass/style.scss */
  .container1 img {
    margin: auto;
    float: none;
    display: block;
  }
}
/* line 220, ../sass/style.scss */
.green {
  color: green;
  font-weight: bold;
}

/* line 225, ../sass/style.scss */
.foot {
  margin-top: 10px;
}

/* line 229, ../sass/style.scss */
.copyright {
  color: gray;
  margin-left: 35%;
}
